:root {
  font-family: "Space Grotesk" Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --multiplier: 0.7; /* Adjust as needed */

  --small-text: calc(1.35rem * var(--multiplier));
  --mid-text: calc(1.9rem * var(--multiplier));
  --medium-text: calc(3.25rem * var(--multiplier));
  --large-text: calc(7.5rem * var(--multiplier));
  --larger-text: calc(8.5rem * var(--multiplier));

  --tech-box: #D9D9D9;
  --text-color: #3A3A3A;
  --title-color: #000000;
  --accent-color: #A1CF90;

  --text-shadow: 2px 2px 4px rgba(28,110,164,0.39);
  --small-text-shadow: 1px 1px 3px rgba(28,110,164,0.39);
}



body {
  font-family: 'Space Grotesk', sans-serif;

  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* background-color: #213547; */
}

h1 {
  font-size: 3.2em;
  line-height: 1;
}



#app {
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .navbar {
    max-width: 90%;
  }
  :root {
    --large-text: calc(5.5rem * var(--multiplier));
  }

  #experience.experience.section {
    
  }

  .project-cell {
    /* padding: 10px; */
    /* padding-right: 20px; */
    /* background-color: red; */

  }

  .body {
    overflow: hidden;
  }

  .forms {
    /* padding: 20px; */
  }


  #home.landing.section {
    /* background-color: red; */
    flex-direction: column-reverse;
  }

  .landing-image {
    /* background-color: blue; */
    height: 350px;
    justify-content: flex-start;
    /* align-items: flex-end; */
    flex-basis: 100%;
    left: 0;
    margin-top: 20%;
    padding: 10px;
  }
  .landing-text {
    padding: 15px;
  }
  /* .landing-image.img {
    max-height: 60%;
    max-width: 60%;
  } */
}


